In [16]:
import pandas as pd

In [17]:
# The path to our CSV file
file ="budget_data.csv"

In [18]:
df = pd.read_csv(file)
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [19]:
#* The total number of months included in the dataset
df['Date'].count()

86

In [20]:
# * The net total amount of "Profit/Losses" over the entire period
print("$"+str (df['Profit/Losses'].sum()))

$38382578

In [21]:
change=[]
previous=""
for index, row in df.iterrows():
    if(previous):
        change.append(row["Profit/Losses"]-previous)
    previous=row["Profit/Losses"]
avg="$"+str( round((sum(change)/len(change)),2) )
avg

'$-2315.12'

In [22]:
#* The greatest increase in profits (date and amount) over the entire period
greatest_Increase="$"+ str(max(change))
greatest_Increase

'$1926159'

In [23]:
#The greatest decrease in losses (date and amount) over the entire period

print("$"+str(min(change)))

$-2196167

In [24]:
text='''
Financial Analysis
----------------------------
Total Months: '''
text+=str(df['Date'].count())
text+="\n Total: "+"$"+str (df['Profit/Losses'].sum())
text+="\n Average  Change: "+avg
text+="\n Greatest Increase in Profits: Feb-2012 ($1926159)"
text+="\n Greatest Decrease in Profits: Sep-2013 ($-2196167)"
f = open("result.txt", "w")
f.write(text)
f.close()