In [19]:
import pandas as pd
df=pd.read_csv("election_data.csv")

In [20]:
candidates=df["Candidate"].unique()
candidates

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [21]:
tot=df["Voter ID"].count()

In [22]:
df2=df.groupby(["Candidate"]).count()
df2["Percentage"]=(df2["County"]/tot)*100
result=df2[["Voter ID", "Percentage"]]
dfr = result.reset_index()
winner_amt=dfr["Voter ID"].max()
for i, r in dfr.iterrows():
    if(r["Voter ID"]==winner_amt):
        Winner=r["Candidate"]  
dfr=dfr.sort_values(by=['Percentage'],ascending=False)
dfr

  Candidate  Voter ID  Percentage
1      Khan   2218231   63.000011
0    Correy    704200   19.999994
2        Li    492940   13.999996
3  O'Tooley    105630    2.999999

In [23]:
dfr.to_csv (r'result.csv', index = None, header=True)

In [24]:
text='''
Election Results
-------------------------
Total Votes: 
'''
text+=str(tot)+'''
-------------------------'''+
text

SyntaxError: invalid syntax (<ipython-input-24-bed52a6c0184>, line 7)

In [25]:
Winner

'Khan'

In [17]:
# Total Votes
tot

3521001